section.home-2
	.marquee-wrapper(class="pt-5 mb-2")
		.marquee
			.marquee-content
				span.marquee-item THIÊN LỘC
				span.marquee-dot •
				span.marquee-item THIÊN LỘC
				span.marquee-dot •
				span.marquee-item THIÊN LỘC
				span.marquee-dot •
				span.marquee-item THIÊN LỘC
				span.marquee-dot •
			.marquee-content(aria-hidden="true")
				span.marquee-item THIÊN LỘC
				span.marquee-dot •
				span.marquee-item THIÊN LỘC
				span.marquee-dot •
				span.marquee-item THIÊN LỘC
				span.marquee-dot •
				span.marquee-item THIÊN LỘC
				span.marquee-dot •
	//- Section Title
	.section-header.text-center(class="" data-aos="fade-up")
		.container
			h2.title-48.font-bold.text-white.font-medium Sản Phẩm Tiêu Biểu
			p(class="desc text-white !mt-10") Bao bì không chỉ là vật chứa đựng sản phẩm, mà còn là cách thương hiệu thể hiện giá trị, cá tính và sự khác biệt...
	//- Product Cards
	.product-cards
		.product-slider-wrapper
			.list-grid.swiper
				.swiper-wrapper
					.swiper-slide
						.product-card(data-aos="fade-up" data-aos-delay="200")
							.product-img
								+PugImg("./img/product-item-1.png")(class="w-full h-full object-cover")
							.product-content
								h3.product-title Ấn phẩm văn phòng
								p.product-desc Sắc nét – bền đẹp – thiết kế theo phong cách riêng
								.product-line
								a.btn.btn-secondary.product-btn(href="#") Xem thêm
					.swiper-slide
						.product-card(data-aos="fade-up" data-aos-delay="300")
							.product-img
								+PugImg("./img/product-item-1.png")(class="w-full h-full object-cover")
							.product-content
								h3.product-title Bao bì sản phẩm
								p.product-desc Sắc nét – bền đẹp – thiết kế theo phong cách riêng
								.product-line
								a.btn.btn-secondary.product-btn(href="#") Xem thêm
					.swiper-slide
						.product-card(data-aos="fade-up" data-aos-delay="400")
							.product-img
								+PugImg("./img/product-item-1.png")(class="w-full h-full object-cover")
							.product-content
								h3.product-title Ấn phẩm văn phòng
								p.product-desc Sắc nét – bền đẹp – thiết kế theo phong cách riêng
								.product-line
								a.btn.btn-secondary.product-btn(href="#") Xem thêm
					.swiper-slide
						.product-card(data-aos="fade-up" data-aos-delay="500")
							.product-img
								+PugImg("./img/product-item-1.png")(class="w-full h-full object-cover")
							.product-content
								h3.product-title Hộp & Thùng
								p.product-desc Sắc nét – bền đẹp – thiết kế theo phong cách riêng
								.product-line
								a.btn.btn-secondary.product-btn(href="#") Xem thêm
					.swiper-slide
						.product-card(data-aos="fade-up" data-aos-delay="500")
							.product-img
								+PugImg("./img/product-item-1.png")(class="w-full h-full object-cover")
							.product-content
								h3.product-title Hộp & Thùng
								p.product-desc Sắc nét – bền đẹp – thiết kế theo phong cách riêng
								.product-line
								a.btn.btn-secondary.product-btn(href="#") Xem thêm
			.product-nav
				button.btn-prev.btn-slider-2(type="button")
					i.fa-solid.fa-chevron-left
				button.btn-next.btn-slider-2(type="button")
					i.fa-solid.fa-chevron-right
